h1{
    background-color:blue ;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    color: aliceblue;  
  }

body {
    background: fixed;
    background-color: blueviolet;
}
.sub {
  padding: 40px;
  text-decoration: underline;
}
            
figure {
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
    
h2 {
  background-color: blueviolet; 
  text-align: center;
  color:gold;
  padding: 60px;
}

p{
  background-color: rgb(255, 0, 0, 0.5);
  text-align: justify;
      
}


    
